CPIAUCNS - Consumer Price Index for All Urban Customers
This ticker indicates to the inflation rate and the cost of living in a country.
The metrics are comparing to basket price from the 1982 up to 2024.

Description: value like 315.493 means that prices of living are 3.15 times higher then they were in 1980's

The inflation rate is going to be calclated by this formula:

InflationÂ RateÂ (%)= ((CPI current - CPI previous) / CPI previous) *100

In [8]:
from fredapi import Fred
import pandas as pd

In [9]:
api_key = '88b4cecd869875f76f8b37c06c8e7bc1'

In [10]:
fred = Fred(api_key = api_key)

In [11]:
cpi = fred.get_series('CPIAUCNS', observation_start='2018.01.01')

In [12]:
cpi.tail()

2024-11-01    315.493
2024-12-01    315.605
2025-01-01    317.671
2025-02-01    319.082
2025-03-01    319.799
dtype: float64

In [14]:
cpi = pd.DataFrame(cpi)

In [15]:
cpi.head()

                  0
2018-01-01  247.867
2018-02-01  248.991
2018-03-01  249.554
2018-04-01  250.546
2018-05-01  251.588

In [16]:
cpi.columns = ['CPI']

In [18]:
cpi.index.name = 'Date'

print(cpi.head())

                CPI
Date
2018-01-01  247.867
2018-02-01  248.991
2018-03-01  249.554
2018-04-01  250.546
2018-05-01  251.588

In [19]:
cpi['Inflation Rate %'] = cpi['CPI'].pct_change()*100

In [20]:
cpi.head()

                CPI  Inflation Rate %
Date
2018-01-01  247.867               NaN
2018-02-01  248.991          0.453469
2018-03-01  249.554          0.226113
2018-04-01  250.546          0.397509
2018-05-01  251.588          0.415892

In [21]:
len(cpi)

87

This is because the inflation rates are calculated base on monthly level.

In [22]:
cpi = cpi.ffill().bfill()

In [24]:
cpi.isnull().sum()

CPI                 0
Inflation Rate %    0
dtype: int64

In [25]:
path = r'C:\Users\User\Desktop\ðŸª™gold_iq\backend\data_collector\datasets\inflation_rate.csv'

cpi.to_csv(path)